{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
  <head>
    {% render_block "css" %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fábrica de Ideias Coworking
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/wysiwyg-color.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/efforia.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sandbox.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}/assets/logo.gif">
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/coffeescript.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.min.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.masonry.min.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.infinitescroll.min.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.tubeplayer.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.html5.fileupload.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/wysihtml5.min.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.min.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.wysiwyg.min.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.wysiwyg.pt-BR.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/modernizr.min.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/canvg.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/dinamo.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.efforia.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/storeapp.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/spreadapp.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/promoteapp.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/animation.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/globals.js">    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/events.js">    </script>
    <script type="text/coffeescript" src="{{ STATIC_URL }}js/sandbox.coffee">
    </script>
  </head>
  <body>
      <div class="container">
        <div class="navbar navbar-fixed-top navbar-inverse">
          <div class="navbar-inner">
            <button type="button" data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button><a href="/" style="margin-left:30px; padding:5px; font-weight:normal; font-size:x-large;" class="brand redirect"><img src="{{ STATIC_URL }}assets/logo.gif" style="height:40px;">Fábrica de Ideias </a>
            <div class="nav-collapse collapse">
            {% load menu_tags %}
              <ul class="nav">
				{% show_menu 0 100 0 100 %}
                <!--<li><a href="#" class="pages">Entenda o Coworking</a></li>
                <li><a href="#" class="pages">Conheça a Fábrica</a></li>
                <li><a href="#" class="pages">Planos</a></li>!-->
                <li><a href="http://promova.co/fabricadeideiascw">Agenda</a></li>
                <li><a href="mailto:contato@fabricadeideiascw.com.br" style="background:#DD0;color:black">Venha conhecer</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% cms_toolbar %}
      {% placeholder "Navegacao" %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
      <footer style="background:black; position:absolute; width:100%; margin-top:60px">
  	  <div class="container">
      <div style="color:white;" class="span4">
      {% placeholder "Endereco" or %}
        <h1 class="title">Fábrica de Ideias Coworking
        </h1>Escritório Compartilhado
		<br>Rua Garibaldi, 1336 - Porto Alegre - RS
		<br><a href="mailto:contato@fabricadeideiascw.com.br" style="text-decoration:none; color:white;">contato@fabricadeideiascw.com.br
		</a><br>Telefone: +5551 3516-2367
        <p></p><a href="https://www.facebook.com/Fabricadeideiascw?ref=ts&fref=ts"><img src="{{ STATIC_URL }}assets/facebook.gif" style="margin-top:5px; margin-right:5px; margin-bottom:5px;"></a><a href="https://twitter.com/fabricaideiascw"><img src="{{ STATIC_URL }}assets/twitter.gif" style="margin:5px;"></a><a href="https://plus.google.com/u/0/114229628763368667145/posts"><img src="{{ STATIC_URL }}assets/google.gif" style="margin:5px;"></a><a href="https://pt.foursquare.com/v/f%C3%A1brica-de-ideias-coworking--escrit%C3%B3rio-compartilhado/507e0c1a64a41ea912010f7c"><img src="{{ STATIC_URL }}assets/foursquare.gif" style="margin:5px;"></a><br>Horário de funcionamento:
		<br>Segunda a sexta-feira, das 9h às 19h
	  {% endplaceholder %}
      </div>
      <div class="span3">
      {% placeholder "OndeFicamos" or %}
        <h1 class="title">Onde ficamos?</h1>
        <iframe width="240" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?daddr=-30.03274592560196,-51.21526837348938&ie=UTF8&ll=-30.032746,-51.215268&spn=0.006295,0.007272&t=m&output=embed"><br>
        </iframe>
      {% endplaceholder %}
      </div>
      <div class="span4">
      {% placeholder "Parceiros" or %}
        <h1 class="title">Nossos parceiros:<img href="http://www.efforia.com.br/" src="{{ STATIC_URL }}assets/efforia.png" class="redirect"></h1>
      {% endplaceholder %}
      </div>
  	  </div>
	  s</footer>
  </body>
</html>