{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %} {% endblock %}
{% block main %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{% trans "Do it your next event, course or talk here." %}</h1>
        <p>{% trans "Fabrica de Ideias Lab is a space located at Porto Alegre downtown for events." %}</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">{% trans "Learn more" %} &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>{% trans "Networking Day" %}</h2>
          <p>{% trans "Networking Event at Fábrica de Ideias." %}</p>
          <p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>{% trans "Azure Love's Startups" %}</h2>
          <p>{% trans "Microsoft Azure Cloud Event at Fábrica de Ideias." %}</p>
          <p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>{% trans "Efforia HUB Pro" %}</h2>
          <p>{% trans "Efforia HUB Pro Launch Event at Fábrica de Ideias."%}</p>
          <p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
        </div>
      </div>

      <hr>
      <footer>
        <p>&copy; {% trans "Fábrica de Ideias Coworking" %} 2015</p>
        {% block extra_footer %} {% endblock %}
      </footer>
    </div> <!-- /container -->

{% endblock %}
