{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %} {% endblock %}
{% block main %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 middle">
          <h1 style="text-align: center;">Iniciativa Open Source da Fábrica de Ideias</h1>
          <p style="font-size: 1.2em; line-height: 1.5em; text-align: justify;">Nós acreditamos que para qualquer atividade é melhor executada quando coletivamente. Por isso a&nbsp;Fábrica de Ideias é incentivadora e contribuidora de projetos de Software Livre, mantendo um perfil próprio no GitHub e divulgando os principais projetos de software livre existentes para seus membros. A iniciativa torna-se completa com a existência da Fábrica de Ideias Lab, promovendo hackathons e dojos de forma a fomentar o código aberto.</p>
          <h2 style="text-align: center;">
            <a href="https://github.com/fabricadeideiascw">
              <img class="rounded-icon" src="{% static 'svg/github.svg' %}" style="text-decoration: none;" height="72" width="72"> GitHub da Fábrica de Ideias
            </a>
          </h2>
        </div>
      </div>
    </div>
{% endblock %}
