{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %} {% endblock %}
{% block main %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 middle">
          <div class="col-md-6">
            <h1 style="text-align: right;">Entenda o Lab</h1>
            <p><iframe src="http://www.youtube.com/embed/wamwklXWK4M" frameborder="0" height="400" width="100%"></iframe></p>
            <div style="font-size: 1.2em; line-height: 1.5em;">
              <p style="text-align: right;">A Fábrica de Ideias Lab trata-se de um espaço coletivo aberto com o formato de um laboratório comunitário e espaço para oficinas, palestras e cursos com um espírito agregador, convergente e inspirador. Nele, a um conceito próximo ao do Coworking, pessoas com interesses em comum podem se encontrar, socializar e colaborar para formatar o próximo grande evento ou ideia. Com isso, trazemos uma série de vantagens, equipamentos e parceria para que você possa criar a próxima grande coisa.</p>
            </div>
          </div>
          <div class="col-md-6">
            <h1>Vantagens</h1>
            <div style="font-size: 1.2em; line-height: 1.5em;">
              <p>O Lab tem acesso ao público membro da Fábrica de Ideias para formar eventos, oficinas, hackathons e palestras, e acesso ao público externo por meio dos ingressos para estes eventos. Contamos com equipamentos diversos no espaço, dentre estes:</p>
            </div>
            <div style="font-size: 1.5em;">
              <p style="line-height: 1.5em;">Soldas de ferro</p>
              <p style="line-height: 1.5em;">Material de fiação para Arduino e Raspberry Pi</p>
              <p style="line-height: 1.5em;">Arduino Uno r3 Original</p>
              <p style="line-height: 1.5em;">Garagino (Em parceria com <a href="http://www.labdegaragem.org/loja/" style="line-height: 1.5em;">Lab de Garagem</a>)</p>
              <p style="line-height: 1.5em;">Hub Beta (Em parceria com <a href="http://www.efforia.com.br/beta" style="line-height: 1.5em;">Efforia</a>)</p>
              <p style="line-height: 1.5em;">Raspberry Pi Modelo B</p>
              <p style="line-height: 1.5em;">Chaves Philips, Fenda e Alicates</p>
              <p style="line-height: 1.5em;">TV 32", Monitores e Projetor VGA</p>
              <p style="line-height: 1.5em;">Cozinha equipada com geladeira, microondas e expresso</p>
              <p style="line-height: 1.5em;">Espaços totalmente climatizados</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
